body{
    font-family: Ubuntu Condensed;
    width: 100%;
    overflow: auto;
}

.container{
    max-width: 1200px;
	margin: auto;
}

.wrapper{
	position: relative;
	max-width: 1200px;
	margin: auto;
	padding-bottom: 100px;
	min-height: 100vh;
}

/*navbar*/
nav{
	background-color: #fff;
}
.navbar-nav .nav-item .nav-link:hover{
	color: #2E75B6;
}

.nav-button{
	border-radius: 10px;
	background-color: #2E75B6;
	color: white;
	font-size: 20px;
	margin-left: 15px;
	margin-top: 4%;
	height: 40px;
	width: 80px;
    line-height: 40px;
}

.nav-button:hover{
	background-color: #F3A22B;
	color: white;
	text-decoration: none;
}

#navbarCollapse{
	margin-top: 2%;
}

.logo{
    font-size: 45px;
    color: #203864;
    font-family: Abril Fatface;
}

/*footer*/
.footertext{
	position: absolute;
	bottom: 0;
	width: 97%;
	margin-left: 1%;
    color: #000;
}

/*admin*/
.nav-link{
    background-color: #F2F2F2;
    color: #000;
    font-family: Ubuntu Condensed;
    font-size: 20px;
    font-weight: bold;
}

.nav-link.active{
    background-color: #FFE699 !important;
    color: #000 !important;
}

.nav-link:hover{
    color: #203864;
}

.fa-calendar, .fa-envelope-open-text, .fa-sliders-h, .fa-plus{
    font-size: 90px;
    margin: 20px;
}

.tab-content{
    margin: 5% 0 0 2%;
}

.col-form-label{
    font-size: 20px;
}

.searchBtn, .payslipBtn, .updateBtn, .createBtn{
    background-color: #203864;
	border: 1px solid lightgrey;
	border-radius: 5px;
	color: white;
	width: 200px;
	height: 33px;
	font-size: 20px;
    margin: auto;
}

.searchBtn:hover, .payslipBtn:hover, .updateBtn:hover, .createBtn:hover{
    color: #FFE699;
}

.form-control{
    width: 95%;
}

.yrControl{
    width: 89%;
}